<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

  <!-- #################### appenderの設定 #################### -->

  <!-- stdout appenderの設定 -->
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <!-- layoutの設定 -->
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p %t (%F:%L) - %m%n" />
    </layout>
  </appender>

  <!-- #################### loggerの設定 #################### -->

  <!-- SQL出力 -->
  <logger name="com.melip.webservices.mapper" additivity="false">
    <!-- levelを「debug」にするとSQLと結果の件数、「trace」にするとさらに結果の内容まで出力されます。 -->
    <level value="debug" />
    <appender-ref ref="stdout" />
  </logger>

  <!-- MyBatis -->
  <logger name="org.apache.ibatis" additivity="false">
    <level value="debug" />
    <appender-ref ref="stdout" />
  </logger>

  <!-- Jerseyの設定 -->
  <logger name="javax.ws" additivity="false">
    <level value="debug" />
    <appender-ref ref="stdout" />
  </logger>

  <!-- Resourceの設定 -->
  <logger name="com.melip.webservices.resource" additivity="false">
    <level value="debug" />
    <appender-ref ref="stdout" />
  </logger>

  <!-- デフォルト -->
  <root>
    <level value="info" />
    <appender-ref ref="stdout" />
  </root>

</log4j:configuration>
