<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
    <!-- log4jを利用する -->
    <setting name="logImpl" value="LOG4J" />
  </settings>

  <typeAliases>
    <!-- QueryConditionのエイリアス -->
    <typeAlias type="com.melip.webservices.service.common.QueryCondition" alias="CONDITION" />
  </typeAliases>

</configuration>