<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="com/melip/webservices/config/config.properties" />

  <settings>
    <!-- log4jを利用する -->
    <setting name="logImpl" value="LOG4J" />
  </settings>

  <environments default="dbConnect">
    <environment id="dbConnect">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="${db.driver.class}" />
        <property name="url" value="${db.url}" />
        <property name="username" value="${db.username}" />
        <property name="password" value="${db.password}" />
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <!-- TODO:ワイルドカードで指定できないか？ -->
    <mapper resource="com/melip/webservices/mapper/test-dao-mapper.xml" />
    <mapper resource="com/melip/webservices/mapper/facility-dao-mapper.xml" />
  </mappers>

</configuration>