<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 施設サービス用 -->
<mapper namespace="com.melip.webservices.mapper.Facility">

  <!-- 施設DTO用resultMap -->
  <resultMap id="facilityDtoResultMap" type="com.melip.webservices.dto.FacilityDto">
    <id property="facilityId" column="facilityId" />
    <collection property="attrDtoList" ofType="com.melip.common.dto.common.AttrDto">
      <id property="attrGrpId" column="attrGrpId" />
      <result property="attrGrpType" column="attrGrpType" />
      <result property="attrGrpNm" column="attrGrpNm" />
      <result property="attrVal" column="attrVal" />
      <result property="attrCdVal" column="attrCdVal" />
    </collection>
  </resultMap>

  <!-- 施設情報取得 -->
  <select id="selectFacility" resultMap="facilityDtoResultMap"
    parameterType="com.melip.webservices.service.facility.FacilitySearchCondition" useCache="false">

  <!-- TODO:
    ・属性グループ種別のコードグループIDの検討
      パラメータで渡すか？ベタ書きで良いか？
  -->

    select
        a.FACILITY_ID          as facilityId
      , a.FACILITY_ATTR_GRP_ID as attrGrpId
      , cd1.CD_NM              as attrGrpType
      , a.NM                   as attrGrpNm
      , case 
        when cd2.CD_NM is null 
        then a.val 
        else cd2.CD_NM 
        end                    as attrVal
      , case 
        when cd2.cd_nm is null 
        then null 
        else a.VAL 
        end                    as attrCdVal 
    from
      ( 
        select
            f.FACILITY_ID
          , fag.FACILITY_ATTR_GRP_ID
          , fagl.NM
          , favl.VAL
          , fag.TYPE
          , fag.CD_GRP_ID 
        from
          m_facility f 
          inner join m_facility_attr_val fav 
            on f.FACILITY_ID = fav.FACILITY_ID 
            and fav.STS in
            <foreach collection="stsArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>  
          inner join m_facility_attr_val_lang favl 
            on fav.FACILITY_ATTR_VAL_ID = favl.FACILITY_ATTR_VAL_ID 
            and favl.LANG_DIV in
            <foreach collection="langDivArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach> 
            and favl.STS in
            <foreach collection="stsArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>  
          inner join m_facility_attr_grp fag 
            on fav.FACILITY_ATTR_GRP_ID = fag.FACILITY_ATTR_GRP_ID 
            and fag.STS in
            <foreach collection="stsArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>  
            <if test="facilityAttrGrpId != null"> 
              and fag.FACILITY_ATTR_GRP_ID = #{facilityAttrGrpId}
            </if>
          inner join m_facility_attr_grp_lang fagl 
            on fag.FACILITY_ATTR_GRP_ID = fagl.FACILITY_ATTR_GRP_ID 
            and fagl.LANG_DIV in
            <foreach collection="langDivArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach> 
            and fagl.STS in
            <foreach collection="stsArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach>  
        where
          f.STS in
          <foreach collection="stsArray" item="item" open="(" separator="," close=")">
            #{item}
          </foreach>  
          <if test="regionId != null"> 
            and f.REGION_ID = #{regionId}
          </if>
          <if test="facilityId != null"> 
            and f.FACILITY_ID = #{facilityId}
          </if>
      ) a 
      left outer join v_cd cd1 
        on cd1.CD_GRP_ID = '4' 
        and a.TYPE = cd1.CD 
        and cd1.LANG_DIV in
        <foreach collection="langDivArray" item="item" open="(" separator="," close=")">
          #{item}
        </foreach> 
      left outer join v_cd cd2 
        on a.CD_GRP_ID = cd2.CD_GRP_ID 
        and a.VAL = cd2.CD 
        and cd2.LANG_DIV in
        <foreach collection="langDivArray" item="item" open="(" separator="," close=")">
          #{item}
        </foreach> 
    order by
      a.FACILITY_ID
      , a.FACILITY_ATTR_GRP_ID

  </select>

</mapper>