<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- レイアウトサービス用 -->
<mapper namespace="com.melip.webservices.mapper.Layout">

  <!-- レイアウト・スクリーンDTO用resultMap -->
  <resultMap id="layoutScreenDtoResultMap" type="com.melip.webservices.dto.layout.LayoutScreenDto">
    <id property="layoutId" column="layoutId" />
    <result property="layoutAlias" column="layoutAlias" />
    <result property="layoutNm" column="layoutNm" />
    <result property="layoutType" column="layoutType" />
    <result property="layoutTypeCdAlias" column="layoutTypeCdAlias" />
    <result property="screenId" column="screenId" />
    <result property="regionId" column="screenRegionId" />
    <result property="screenEntity" column="screenEntity" />
    <result property="screenNm" column="screenNm" />
    <collection property="layoutScreenObjGrpDtoList" ofType="com.melip.webservices.dto.layout.LayoutScreenObjGrpDto">
      <id property="layoutObjGrpId" column="layoutObjGrpId" />
      <result property="layoutObjGrpAlias" column="layoutObjGrpAlias" />
      <result property="multiplicity" column="layoutObjGrpMultiplicity" />
      <result property="screenObjGrpId" column="screenObjGrpId" />
      <result property="screenObjGrpEntity" column="screenObjGrpEntity" />
      <result property="targetScreenId" column="screenObjGrpTargetScreenId" />
      <collection property="layoutScreenObjDtoList" ofType="com.melip.webservices.dto.layout.LayoutScreenObjDto">
        <id property="layoutObjId" column="layoutObjId" />
        <result property="layoutObjAlias" column="layoutObjAlias" />
        <result property="layoutObjNm" column="layoutObjNm" />
        <result property="layoutObjType" column="layoutObjType" />
        <result property="screenObjId" column="screenObjId" />
        <collection property="screenObjAttrDtoList" ofType="com.melip.webservices.dto.layout.ScreenObjAttrDto">
          <id property="screenObjAttrId" column="screenObjAttrId" />
          <result property="screenObjAttrEntity" column="screenObjAttrEntity" />
          <result property="attrGrpId" column="screenObjAttrAttrGrpId" />
          <result property="displayNum" column="screenObjAttrDisplayNum" />
          <result property="targetScreenId" column="screenObjAttrTargetScreenId" />
        </collection>
      </collection>
    </collection>
  </resultMap>

  <!-- ステータスの条件 -->
  <sql id="stsCondition">
    in
    <foreach collection="stsArray" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </sql>

  <!-- 言語区分の条件 -->
  <sql id="langDivCondition">
    in
    <foreach collection="langDivArray" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </sql>
  
  <!-- レイアウト・スクリーン情報取得 -->
  <select id="selectLayoutScreen" resultMap="layoutScreenDtoResultMap" parameterType="CONDITION"
    useCache="false">

    select
        l.LAYOUT_ID            as layoutId
      , l.ALIAS                as layoutAlias
      , l.NM                   as layoutNm
      , l.TYPE                 as layoutType
      , cd1.CD_ALIAS           as layoutTypeCdAlias
      , s.SCREEN_ID            as screenId
      , s.REGION_ID            as screenRegionId
      , s.ENTITY               as screenEntity
      , s.NM                   as screenNm
      , log.LAYOUT_OBJ_GRP_ID  as layoutObjGrpId
      , log.ALIAS              as layoutObjGrpAlias
      , log.MULTIPLICITY       as layoutObjGrpMultiplicity
      , sog.SCREEN_OBJ_GRP_ID  as screenObjGrpId
      , sog.ENTITY             as screenObjGrpEntity
      , sog.TARGET_SCREEN_ID   as screenObjGrpTargetScreenId
      , lo.LAYOUT_OBJ_ID       as layoutObjId
      , lo.ALIAS               as layoutObjAlias
      , lo.NM                  as layoutObjNm
      , lo.TYPE                as layoutObjType
      , so.SCREEN_OBJ_ID       as screenObjId
      , soa.SCREEN_OBJ_ATTR_ID as screenObjAttrId
      , soa.ENTITY             as screenObjAttrEntity
      , soa.ATTR_GRP_ID        as screenObjAttrAttrGrpId
      , soa.DISPLAY_NUM        as screenObjAttrDisplayNum
      , soa.TARGET_SCREEN_ID   as screenObjAttrTargetScreenId 
    from
      m_screen s 
      inner join m_screen_obj_grp sog 
        on s.SCREEN_ID = sog.SCREEN_ID 
        and sog.STS <include refid="stsCondition"/>
      inner join m_screen_obj so 
        on sog.SCREEN_OBJ_GRP_ID = so.SCREEN_OBJ_GRP_ID 
        and so.STS <include refid="stsCondition"/> 
      inner join m_screen_obj_attr soa 
        on so.SCREEN_OBJ_ID = soa.SCREEN_OBJ_ID 
        and soa.STS <include refid="stsCondition"/> 
      inner join m_layout_obj lo 
        on so.LAYOUT_OBJ_ID = lo.LAYOUT_OBJ_ID 
        and lo.STS <include refid="stsCondition"/> 
      inner join m_layout_obj_grp log 
        on lo.LAYOUT_OBJ_GRP_ID = log.LAYOUT_OBJ_GRP_ID 
        and log.STS <include refid="stsCondition"/> 
      inner join m_layout l 
        on log.LAYOUT_ID = l.LAYOUT_ID 
        and l.STS <include refid="stsCondition"/> 
      left outer join v_cd cd1 
        on cd1.CD_GRP_ID = '3' 
        and l.TYPE = cd1.CD 
        and cd1.LANG_DIV <include refid="langDivCondition"/> 
    where
      s.STS <include refid="stsCondition"/> 
      and s.SCREEN_ID = #{v.targetScreenId}
    order by
      s.SCREEN_ID
      , sog.SCREEN_OBJ_GRP_ID
      , so.SCREEN_OBJ_ID
      , soa.DISPLAY_NUM

  </select>

</mapper>