<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- レイアウトサービス用 -->
<mapper namespace="com.melip.webservices.mapper.Layout">

  <!-- レイアウト・スクリーンDTO用resultMap -->
  <resultMap id="layoutScreenDtoResultMap" type="com.melip.webservices.dto.LayoutScreenDto">
    <id property="layoutScreenId" column="screenObjId"/>
    <association property="layout" javaType="com.melip.webservices.entity.Layout">
      <id property="layoutId" column="layoutId" />
      <result property="createDatetime" column="layoutCreateDatetime" />
      <result property="createUser" column="layoutCreateUser" />
      <result property="updateDatetime" column="layoutUpdateDatetime" />
      <result property="updateUser" column="layoutUpdateUser" />
      <result property="sts" column="layoutSts" />
      <result property="alias" column="layoutAlias" />
      <result property="nm" column="layoutNm" />
      <result property="type" column="layoutType" />
    </association>
    <association property="layoutObjGrp" javaType="com.melip.webservices.entity.LayoutObjGrp">
      <id property="layoutObjGrpId" column="layoutObjGrpId" />
      <result property="createDatetime" column="layoutObjGrpCreateDatetime" />
      <result property="createUser" column="layoutObjGrpCreateUser" />
      <result property="updateDatetime" column="layoutObjGrpUpdateDatetime" />
      <result property="updateUser" column="layoutObjGrpUpdateUser" />
      <result property="sts" column="layoutObjGrpSts" />
      <result property="alias" column="layoutObjGrpAlias" />
      <result property="layoutId" column="layoutObjGrpLayoutId" />
      <result property="multiplicity" column="layoutObjGrpMultiplicity" />
    </association>
    <association property="layoutObj" javaType="com.melip.webservices.entity.LayoutObj">
      <id property="layoutObjId" column="layoutObjId" />
      <result property="createDatetime" column="layoutObjCreateDatetime" />
      <result property="createUser" column="layoutObjCreateUser" />
      <result property="updateDatetime" column="layoutObjUpdateDatetime" />
      <result property="updateUser" column="layoutObjUpdateUser" />
      <result property="sts" column="layoutObjSts" />
      <result property="alias" column="layoutObjAlias" />
      <result property="layoutObjGrpId" column="layoutObjLayoutObjGrpId" />
      <result property="nm" column="layoutObjNm" />
      <result property="type" column="layoutObjType" />
    </association>
    <association property="screen" javaType="com.melip.webservices.entity.Screen">
      <id property="screenId" column="screenId" />
      <result property="createDatetime" column="screenCreateDatetime" />
      <result property="createUser" column="screenCreateUser" />
      <result property="updateDatetime" column="screenUpdateDatetime" />
      <result property="updateUser" column="screenUpdateUser" />
      <result property="sts" column="screenSts" />
      <result property="regionId" column="screenRegionId" />
      <result property="layoutId" column="screenLayoutId" />
      <result property="targetEntity" column="screenTargetEntity" />
      <result property="nm" column="screenNm" />
    </association>
    <association property="screenObj" javaType="com.melip.webservices.entity.ScreenObj">
      <id property="screenObjId" column="screenObjId" />
      <result property="createDatetime" column="screenObjCreateDatetime" />
      <result property="createUser" column="screenObjCreateUser" />
      <result property="updateDatetime" column="screenObjUpdateDatetime" />
      <result property="updateUser" column="screenObjUpdateUser" />
      <result property="sts" column="screenObjSts" />
      <result property="screenId" column="screenObjScreenId" />
      <result property="layoutObjId" column="screenObjLayoutObjId" />
      <result property="entity" column="screenObjEntity" />
      <result property="attrGrpId" column="screenObjAttrGrpId" />
      <result property="displayNum" column="screenObjDisplayNum" />
      <result property="targetScreenId" column="screenObjTargetScreenId" />
    </association>
  </resultMap>

  <!-- レイアウト・スクリーン情報取得 -->
  <select id="selectLayoutScreen" resultMap="layoutScreenDtoResultMap"
    parameterType="com.melip.webservices.service.layout.LayoutSearchCondition" useCache="false">

  <!-- TODO:同じforeachを何度も書くのが嫌だ。（他のmapperも同様） -->

    select
        l.LAYOUT_ID           as layoutId
      , l.CREATE_DATETIME     as layoutCreateDatetime
      , l.CREATE_USER         as layoutCreateUser
      , l.UPDATE_DATETIME     as layoutUpdateDatetime
      , l.UPDATE_USER         as layoutUpdateUser
      , l.STS                 as layoutSts
      , l.ALIAS               as layoutAlias
      , l.NM                  as layoutNm
      , l.TYPE                as layoutType
      , log.LAYOUT_OBJ_GRP_ID as layoutObjGrpId
      , log.CREATE_DATETIME   as layoutObjGrpCreateDatetime
      , log.CREATE_USER       as layoutObjGrpCreateUser
      , log.UPDATE_DATETIME   as layoutObjGrpUpdateDatetime
      , log.UPDATE_USER       as layoutObjGrpUpdateUser
      , log.STS               as layoutObjGrpSts
      , log.ALIAS             as layoutObjGrpAlias
      , log.LAYOUT_ID         as layoutObjGrpLayoutId
      , log.MULTIPLICITY      as layoutObjGrpMultiplicity
      , lo.LAYOUT_OBJ_ID      as layoutObjId
      , lo.CREATE_DATETIME    as layoutObjCreateDatetime
      , lo.CREATE_USER        as layoutObjCreateUser
      , lo.UPDATE_DATETIME    as layoutObjUpdateDatetime
      , lo.UPDATE_USER        as layoutObjUpdateUser
      , lo.STS                as layoutObjSts
      , lo.ALIAS              as layoutObjAlias
      , lo.LAYOUT_OBJ_GRP_ID  as layoutObjLayoutObjGrpId
      , lo.NM                 as layoutObjNm
      , lo.TYPE               as layoutObjType
      , s.SCREEN_ID           as screenId
      , s.CREATE_DATETIME     as screenCreateDatetime
      , s.CREATE_USER         as screenCreateUser
      , s.UPDATE_DATETIME     as screenUpdateDatetime
      , s.UPDATE_USER         as screenUpdateUser
      , s.STS                 as screenSts
      , s.REGION_ID           as screenRegionId
      , s.LAYOUT_ID           as screenLayoutId
      , s.TARGET_ENTITY       as screenTargetEntity
      , s.NM                  as screenNm
      , so.SCREEN_OBJ_ID      as screenObjId
      , so.CREATE_DATETIME    as screenObjCreateDatetime
      , so.CREATE_USER        as screenObjCreateUser
      , so.UPDATE_DATETIME    as screenObjUpdateDatetime
      , so.UPDATE_USER        as screenObjUpdateUser
      , so.STS                as screenObjSts
      , so.SCREEN_ID          as screenObjScreenId
      , so.LAYOUT_OBJ_ID      as screenObjLayoutObjId
      , so.ENTITY             as screenObjEntity
      , so.ATTR_GRP_ID        as screenObjAttrGrpId
      , so.DISPLAY_NUM        as screenObjDisplayNum
      , so.TARGET_SCREEN_ID   as screenObjTargetScreenId 
    from
      m_screen s 
      inner join m_screen_obj so 
        on s.SCREEN_ID = so.SCREEN_ID 
        and so.STS in
        <foreach collection="stsArray" item="item" open="(" separator="," close=")">
          #{item}
        </foreach> 
      inner join m_layout_obj lo 
        on so.LAYOUT_OBJ_ID = lo.LAYOUT_OBJ_ID 
        and lo.STS in
        <foreach collection="stsArray" item="item" open="(" separator="," close=")">
          #{item}
        </foreach> 
      inner join m_layout_obj_grp log 
        on lo.LAYOUT_OBJ_GRP_ID = log.LAYOUT_OBJ_GRP_ID 
        and log.STS in
        <foreach collection="stsArray" item="item" open="(" separator="," close=")">
          #{item}
        </foreach> 
      inner join m_layout l 
        on log.LAYOUT_ID = l.LAYOUT_ID 
        and l.STS in
        <foreach collection="stsArray" item="item" open="(" separator="," close=")">
          #{item}
        </foreach> 
    where
      s.SCREEN_ID = ( 
        select
            TARGET_SCREEN_ID 
        from
          m_screen_obj 
        where
          SCREEN_OBJ_ID = #{screenObjId}
      ) 
      and s.sts in
      <foreach collection="stsArray" item="item" open="(" separator="," close=")">
        #{item}
      </foreach> 
    order by
      l.LAYOUT_ID
      , log.LAYOUT_OBJ_GRP_ID
      , lo.LAYOUT_OBJ_ID
      , so.SCREEN_OBJ_ID

  </select>

</mapper>