<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 地域サービス用 -->
<mapper namespace="com.melip.webservices.mapper.Region">

  <!-- 地域DTO用resultMap -->
  <resultMap id="regionDtoResultMap" type="com.melip.webservices.dto.RegionDto">
    <id property="regionId" column="regionId" />
    <collection property="attrDtoList" ofType="com.melip.common.dto.common.AttrDto">
      <id property="attrGrpId" column="attrGrpId" />
      <result property="attrGrpType" column="attrGrpType" />
      <result property="attrGrpNm" column="attrGrpNm" />
      <result property="attrVal" column="attrVal" />
      <result property="attrCdVal" column="attrCdVal" />
    </collection>
  </resultMap>

  <!-- 地域情報取得 -->
  <select id="selectRegion" resultMap="regionDtoResultMap"
    parameterType="com.melip.webservices.service.region.RegionSearchCondition" useCache="false">

  <!-- TODO:
    ・属性グループ種別のコードグループIDの検討
      パラメータで渡すか？ベタ書きで良いか？
  -->

    select
        a.REGION_ID          as regionId
      , a.REGION_ATTR_GRP_ID as attrGrpId
      , cd1.CD_NM            as attrGrpType
      , a.NM                 as attrGrpNm
      , case 
        when cd2.CD_NM is null 
        then a.val 
        else cd2.CD_NM 
        end                  as attrVal
      , case 
        when cd2.cd_nm is null 
        then null 
        else a.VAL 
        end                  as attrCdVal 
    from
      ( 
        select
            r.REGION_ID
          , rag.REGION_ATTR_GRP_ID
          , ragl.NM
          , ravl.VAL
          , rag.TYPE
          , rag.CD_GRP_ID 
        from
          m_region r 
          inner join m_region_attr_val rav 
            on r.REGION_ID = rav.REGION_ID 
            and rav.STS in
            <foreach collection="stsArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach> 
          inner join m_region_attr_val_lang ravl 
            on rav.REGION_ATTR_VAL_ID = ravl.REGION_ATTR_VAL_ID 
            and ravl.LANG_DIV in
            <foreach collection="langDivArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach> 
            and ravl.STS in
            <foreach collection="stsArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach> 
          inner join m_region_attr_grp rag 
            on rav.REGION_ATTR_GRP_ID = rag.REGION_ATTR_GRP_ID 
            and rag.STS in
            <foreach collection="stsArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach> 
            <if test="regionAttrGrpId != null"> 
              and rag.REGION_ATTR_GRP_ID = #{regionAttrGrpId} 
            </if>
          inner join m_region_attr_grp_lang ragl 
            on rag.REGION_ATTR_GRP_ID = ragl.REGION_ATTR_GRP_ID 
            and ragl.LANG_DIV in
            <foreach collection="langDivArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach> 
            and ragl.STS in
            <foreach collection="stsArray" item="item" open="(" separator="," close=")">
              #{item}
            </foreach> 
        where
          r.STS in
          <foreach collection="stsArray" item="item" open="(" separator="," close=")">
            #{item}
          </foreach> 
          <if test="regionId != null"> 
            and r.REGION_ID = #{regionId} 
          </if>
      ) a 
      left outer join v_cd cd1 
        on cd1.CD_GRP_ID = '4' 
        and a.TYPE = cd1.CD 
        and cd1.LANG_DIV in
        <foreach collection="langDivArray" item="item" open="(" separator="," close=")">
          #{item}
        </foreach> 
      left outer join v_cd cd2 
        on a.CD_GRP_ID = cd2.CD_GRP_ID 
        and a.VAL = cd2.CD 
        and cd2.LANG_DIV in
        <foreach collection="langDivArray" item="item" open="(" separator="," close=")">
          #{item}
        </foreach> 
    order by
      a.REGION_ID
      , a.REGION_ATTR_GRP_ID

  </select>

</mapper>