<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

  <properties resource="com/melip/config/config.properties" />

  <context id="context1">
    <plugin type="com.melip.mybatis.generator.EntityClassNameChange"></plugin>
    <jdbcConnection driverClass="${db.driver.class}" connectionURL="${db.url}"
      userId="${db.username}" password="${db.password}" />
    <javaModelGenerator targetPackage="com.melip.entity" targetProject="melip" />
    <table schema="melip" tableName="%">
    </table>
  </context>

</generatorConfiguration>