<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- テスト用 -->
<mapper namespace="test">

  <!-- 施設情報取得 -->
  <select id="facilityInfo" resultType="com.melip.entity.Facility" useCache="false">

    SELECT
    FACILITY_ID as facilityId
    , CREATE_DATETIME as createDatetime
    , CREATE_USER as createUser
    ,
    UPDATE_DATETIME as updateDatetime
    , UPDATE_USER
    as user
    , STS as sts
    , REGION_ID as regionId
    ,
    PUBLISH_STS as publishSts
    FROM
    m_facility


  </select>

  <select id="facilityInfoOne" resultType="com.melip.entity.Facility" useCache="false">

    SELECT
    FACILITY_ID as facilityId
    , CREATE_DATETIME as createDatetime
    , CREATE_USER as createUser
    ,
    UPDATE_DATETIME as updateDatetime
    , UPDATE_USER
    as user
    , STS as sts
    , REGION_ID as regionId
    ,
    PUBLISH_STS as publishSts
    FROM
    m_facility
    WHERE
    FACILITY_ID = 1


  </select>

</mapper>